.format-container
{
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 2%;
}

.row 
{
    margin-top: 2%
}

.cal-events 
{
    display: none !important;
}

.button-color
{
    background-color: rgb(18,24,48);
    border-color: rgb(18,24,48);
}