.HairSalonBackEnd.vsHairSalonBackEndv16.suo
.HairSalonBackEndobjDebugnet5.0HairSalonBackEnd.AssemblyInfo.cs
.HairSalonBackEndobjDebugnet5.0HairSalonBackEnd.AssemblyInfoInputs.cache
.HairSalonBackEndobjDebugnet5.0HairSalonBackEnd.assets.cache
.HairSalonBackEndobjDebugnet5.0HairSalonBackEnd.csproj.AssemblyReference.cache
.HairSalonBackEndobjDebugnet5.0HairSalonBackEnd.GeneratedMSBuildEditorConfig.editorconfig