
HairSalonBackEnd/.vs/HairSalonBackEnd/v16/.suo

HairSalonBackEnd/HairSalonBackEnd/obj/Debug/net5.0/HairSalonBackEnd.AssemblyInfo.cs

HairSalonBackEnd/HairSalonBackEnd/obj/Debug/net5.0/HairSalonBackEnd.AssemblyInfoInputs.cache

HairSalonBackEnd/HairSalonBackEnd/obj/Debug/net5.0/HairSalonBackEnd.assets.cache

HairSalonBackEnd/HairSalonBackEnd/obj/Debug/net5.0/HairSalonBackEnd.csproj.AssemblyReference.cache

HairSalonBackEnd/HairSalonBackEnd/obj/Debug/net5.0/HairSalonBackEnd.GeneratedMSBuildEditorConfig.editorconfig