<!--
<div class="page-div">
  <img width="410" length="107" src="assets\images\SeekPng.com_yellow-star-png_4419480.png">
  <div class="newsletter-div">
    <div class="left-newsletter-div">

      <h4 style="margin-top:25%;">Join our newsletter!</h4>
    </div>
    <div class="right-newsletter-div">

      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" matInput>
      </mat-form-field>

      <button style="margin-top:25%;" mat-flat-button color="primary">Join!</button>
    </div>
  </div>
  <h2>Find us at our Milledgeville location here!</h2>
  <img width="773px" height="332" src="assets\images\Screenshot 2022-02-09 182649.png" />
</div>
-->

<!--Title and Heading with image-->
<div class="page-div">
  
  <div class = "home-body">

     <!-- news letter stand in-->
    <div class="container mt-5">
      <div class="row">
          <div class="left-newsletter-div">
            <h3 style="margin-top:15%; font-weight: 500; font-size: 2.1vw;">Join our newsletter!</h3>
            <h4>Promotions, new products and sales. Directly to your inbox.</h4>
          </div>
          <div class="right-newsletter-div">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" matInput>
            </mat-form-field>
            <button style="margin-top:15%;" mat-flat-button color="primary">Join!</button>
          </div>
      </div>
    </div>

  </div>
</div>