<div class="container">
  <div class="page-div">
    <div class="container mt-5">
      <div class="row">
        <div class="left-newsletter-div">
          <h3 class="newsletter-text">Join our newsletter!</h3>
          <h4>Promotions, new products and sales. Directly to your inbox.</h4>
        </div>
        <div class="right-newsletter-div">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input type="email" matInput>
          </mat-form-field>
          <button style="margin-top:15%;" mat-flat-button color="primary">Join!</button>
        </div>
      </div>
    </div>
  </div>
</div>