img
{
    border-radius: 20%;
    height: 45%;
    width: 45%;
}

.row 
{
    display: table-cell;
}

.flex-container 
{
    display: inline-flex;
    justify-content: space-between;
    float:right;
}

.button-container 
{
    display: flex;
    justify-content: space-between;
    width: 60px;
}

.button-container-list
{
    display: flex;
    justify-content: right;
}

label
{
    font-weight: 400;
    margin-left: 1%;
}

input
{
    margin-left: 1%;
    width: 98%
}

.stylist-card-color
{
    background-color: rgb(18,24,48);
    border-radius: 10px;
}

.stylist-card-size
{
    margin:30px; 
    width:600px;
}

.stylist-card-name
{
    background-color: rgb(43,49,74);
    font-weight: 500;
    font-style:oblique;
    font-size:large;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align:center;
}

.stylist-card-info
{
    background-color: rgb(43,49,74);
    font-weight: 400;
    font-size:medium;
    margin-right: 7em;
}

.stylist-card-picture
{
    display:inline-block;
    width: 50%;
}

.title
{   
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2.15%;
    text-align: left;
    font-family:'Edwardian Script ITC';
    color: rgb(176,151,35);
    background-color: rgb(18,24,48);
}
