<h1 mat-dialog-title>Events</h1>
<div mat-dialog-content>
    <div *ngFor="let x of data.events">
        {{x.title}}
        <div>
            Start: {{x.start}}
        </div>
        <div *ngIf="x.end">
            End: {{x.end}}
        </div>
        <div *ngIf="data.crudFeatures">
            <button mat-button mat-dialog-close (click)="deleteEventHandler(x)">Delete</button>
            <button mat-button mat-dialog-close (click)="updateEventHandler(x)">Update</button>
        </div>
        -----------------------------
    </div>
    <div *ngIf="data.crudFeatures">
        <button mat-button mat-dialog-close (click)="createEventHandler()">Create</button>
    </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="onClose()">Close</button>
</div>

