<!--This component displays in a dialog box-->
<h1 mat-dialog-title>Events</h1>

<!--content of pop up menu-->
<div mat-dialog-content>
    <!--Show each event of the day, their start and end time, and buttons to delete or update them-->
    <div *ngFor="let x of data.events">
        {{x.title}}
        <div>
            Start: {{x.start}}
        </div>
        <div *ngIf="x.end">
            End: {{x.end}}
        </div>
        <div *ngIf="data.crudFeatures"> <!--if set to true, user can update and delete an event-->
            <button mat-button mat-dialog-close (click)="deleteEventHandler(x)">Delete</button>
            <button mat-button mat-dialog-close (click)="updateEventHandler(x)">Update</button>
        </div>
        -----------------------------
    </div>
    <div *ngIf="data.crudFeatures"> <!--if set to true, user can create new event-->
        <button mat-button mat-dialog-close (click)="createEventHandler()">Create</button>
    </div>
</div>
<div mat-dialog-actions> <!--button to close dialog box-->
  <button mat-button mat-dialog-close="onClose()">Close</button>
</div>

