<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  
<footer>
  <div class = "column">
    <!--Add social media icons-->
    <h4>Follow us</h4>
    <a class="fa fa-facebook"></a>
    <a class="fa fa-instagram"></a>
    <!--Add the links-->
    <h4>Links</h4>
    <p><a>Search</a>&nbsp;<a>Shop</a></p>
    <!--Signup with emails-->
    <p>Signup for newsletter, offers, promotions, new products & sales</p>
    <!--email input-->
    <label for="email">Email:</label>&nbsp;
    <input type="email" id="email" name="email" placeholder="Your email"> &nbsp;
    <button type="submit">Subscribe</button>
    <!--email and phone number to be contacted-->
  <p><a>frankie@salon.com</a>&nbsp;Contact: 111-222-3333<br>
    Copyright 2022 Software Engineering, Frankie Salon. Powered by Team-1(DGJJZ)
  </p>
  </div>
</footer>