<p>footer works!</p>
<html>
  <head>
  <style>
  footer {
    text-align: center;
    padding: 3px;
    background-color: gray;
    color: white;
  }
  </style>
  </head>
  <body>
  
  <footer>
    <div class = "column">
      <h4>Follow us</h4>
      <p>Add the social media icons</p>
      <h4>Links</h4>
      <p><a href="mailto:hege@example.com">Search</a>&nbsp;<a href="mailto:hege@example.com">Shop</a></p>
      <p>Signup for newsletter & offers</p>
      <label for="email">Email:</label>&nbsp;
      <input type="email" id="email" name="email" placeholder="Your email"> &nbsp;
      <button type="submit">Subscribe</button>
    <p><a href="mailto:hege@example.com">frankie@salon.com</a>&nbsp;Contact: 111-222-3333<br>
      Copyright 2022 Software Engineering, Frankie Salon. Powered by Team-1(DGJJZ)
    </p>
    </div>
  </footer>
  
  </body>
  </html>