<div class="row text-center">
    <!--buttons to cycle through dates in a year with stepsize depending on view-->
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
                Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                Next
            </div>
        </div>
    </div>

    <!--Dynamic title of the calendar-->
    <div class="col-md-4">
        <h1>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h1>
    </div>

    <!--buttons change calendar view to month, week, year-->
    <div class="col-md-4">
        <div class="btn-group">
            <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                Month
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                Week
            </div>
            <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                Day
            </div>
        </div>
    </div>

</div>

<!--calendar views visible to users depending on set view-->
<div class = "format-container" [ngSwitch]="view">

    <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" *ngSwitchCase="CalendarView.Month" [refresh]="refresh" [viewDate]="viewDate" [events]="calEvents">
    </mwl-calendar-month-view>

    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [refresh]="refresh" [viewDate]="viewDate" [events]="calEvents">
    </mwl-calendar-week-view>

    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [refresh]="refresh" [viewDate]="viewDate" [events]="calEvents">
    </mwl-calendar-day-view>

</div>