<div class = "container">
    <!--Website Title-->
    <div class = "headerTop">
        <h1>Frankie's Salon</h1>
    </div>
    <!--header image-->
    <img width="100%" src="assets\images\banner-dots-long.jpg">
    
    <!--navigation bar to show website pages-->
    <mat-toolbar  class = "navbar navbar-light bg-light">
        <div class = "navB">
            <span class="btn btn-light" routerLink = "">Home</span> <!--navigates to home page-->
            <span class="btn btn-light" routerLink = "/stylists"> Stylists</span> <!--navigates to stylist page-->
            <span class="btn btn-light" routerLink = "/appointments">Appointment Page</span><!--naviagtes to appointment page-->
            <span class="btn btn-light" routerLink = "/unavailabilities">Unavailability Page</span><!--navigates to unavailability page-->
            <span class="btn btn-light" routerLink = "/schedule" >Stylists Schedule</span><!--navigates to stylists schedule-->
        </div>
    </mat-toolbar>
</div>