<div class = "container">
    <div class = "headerTop">
        <h1>Frankie's Salon</h1>
    </div>
    
    <img width="100%" src="assets\images\banner-dots-long.jpg">
    
    <mat-toolbar  class = "navbar navbar-light bg-light">
        <div class = "navB">
            <span class="btn btn-light" routerLink = "">Home</span>
            <span class="btn btn-light" routerLink = "/stylists"> Stylists</span>
            <span class="btn btn-light" routerLink = "/appointments">Make an Appointment</span>
            <span class="btn btn-light" routerLink = "/schedule" >Stylists Schedule</span>
        </div>
    </mat-toolbar>
</div>