<!--Calendar and add appointment button-->
<div *ngIf="!unavailabilityLoading"> <!--if appointments are done loading, show page-->
    <mat-button-toggle style="margin-left:100px; margin-top:20px" (click)="setCreateUnavailability()">Add Unavailability</mat-button-toggle>
    <app-event-calendar #appCalendar [calEvents]="events" [supportCRUD]="true" (deleteEvent)="deleteUnavailability($event)" 
                        (updateEvent)="startUpdateUnavailability($event)" (createEvent)="setCreateUnavailability()"></app-event-calendar>
</div>
  
<ng-template #formDialog> <!--This template allows both forms to display as pop up menus-->
  
  <!--Update unavailability form-->
  <div *ngIf="updatingUnavailability || addingUnavailability" >
    <div>
      <div style="float:left; margin:10px">

        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="this.stylistName">
        </mat-form-field>

        <br>

        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="updateStartDatePicker" placeholder="Start Date" [(ngModel)]="this.startDate">
          <mat-datepicker-toggle matSuffix [for]="$any(updateStartDatePicker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #updateStartDatePicker  [showSeconds]="false" [enableMeridian]="true"><!--[color]="color" -->
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <br>

        <mat-form-field>
          <input matInput [ngxMatDatetimePicker]="updateEndDatePicker" placeholder="End Date" [(ngModel)]="this.endDate">
          <mat-datepicker-toggle matSuffix [for]="$any(updateEndDatePicker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #updateEndDatePicker [showSeconds]="false" [enableMeridian]="true"><!--[color]="color" -->
          </ngx-mat-datetime-picker>
        </mat-form-field>

      </div>
      <div style="float:left; margin:10px">

        <mat-form-field appearance="fill">
          <mat-label>Period</mat-label>
          <mat-select [(ngModel)]="period">
            <mat-option *ngFor="let p of timePeriods" [value]="p">
              {{p.toString()}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Stylist ID</mat-label>
          <input matInput type="number" [(ngModel)]="this.stylistid">
        </mat-form-field>

      </div>
    </div>

    <!--Buttons to submit or cancel unavailability-->
    <button *ngIf="addingUnavailability" mat-flat-button color="primary" style = "margin: 1%" type="submit" (click)="addUnavailability()">Submit</button>
    <button *ngIf="updatingUnavailability" mat-flat-button color="primary" style = "margin: 1%" type="submit" (click)="updateUnavailability()">Submit</button>
    <button mat-flat-button style = "margin: 1%" (click)="closeDialog()">Cancel</button>
  </div>
  
</ng-template>