.button-container
{
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 2%;
    margin-top: 2%
}

.cal-events 
{
    display: none !important;
}

.schedule-by-button
{
    margin-left:2%; 
    margin-right:0.5%; 
    margin-top:20px; 
    background-color: rgb(18,24,48);
    width: 6%;
    
}

.edit-button
{
    margin-left:2%; 
    margin-right:0.5%; 
    margin-top:20px; 
    background-color: rgb(18,24,48);
    width: 7%;
}

.title
{   
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2.15%;
    text-align: left;
    font-family:'Edwardian Script ITC';
    color: rgb(176,151,35);
    background-color: rgb(18,24,48);
}