.button-container
{
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 2%;
    margin-top: 2%
}

.cal-events 
{
    display: none !important;
}

.schedule-card-color
{
    background-color: rgb(18,24,48);
    border-radius: 10px;
}