<div *ngIf="!scheduleLoading"> <!--If the the schedule page is done loading then show the calendar component-->
  <div class="button-container">
    <mat-button-toggle>
      <mat-form-field>
          <mat-label>Stylists</mat-label>
          <mat-select multiple>
            <mat-option *ngFor="let stylist of stylistList" [value]="stylist"  (click)="changeStylistSelected(stylist)">{{stylist.name}}</mat-option>
          </mat-select>
        </mat-form-field>
    </mat-button-toggle>
  </div>
  <app-event-calendar [calEvents]="eventsToShow"></app-event-calendar>
</div>
