.format-container
{
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 2%;
}

.row 
{
    margin-top: 2%
}

.cal-events
{
    display: none !important; //will override all previous styling rules for cal-events
}

.add-button
{
    margin-left:2%; 
    margin-right:0.5%; 
    margin-top:20px; 
    background-color: rgb(18,24,48);
    width: 8%;
    
}

.schedule-by-button
{
    margin-left:2%; 
    margin-right:0.5%; 
    margin-top:20px; 
    background-color: rgb(18,24,48);
    width: 6%;
}