<!--Calendar and add appointment button-->
<div *ngIf="!appointmentLoading"> <!--if appointments are done loading, show page-->
  <mat-button-toggle style="margin-left:100px; margin-top:20px; background-color: rgb(18,24,48)" (click)="setCreateAppointment()">Add Appointment</mat-button-toggle>
  <app-event-calendar #appCalendar [calEvents]="events" [supportCRUD]="true" (deleteEvent)="deleteAppointment($event)" 
                      (updateEvent)="startUpdateAppointment($event)" (createEvent)="setCreateAppointment($event)"></app-event-calendar>
</div>

<ng-template #formDialog> <!--This template allows both forms to display as pop up menus-->

  <!--Update and Add appointment forms-->
  <div *ngIf="updatingAppointment || addingAppointment" class = "container">
    <div>
      <div style="float:left">
        
        <mat-form-field><!--Input for Name-->
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="this.name">
        </mat-form-field>

        <br>

        <mat-form-field><!--Input for Email-->
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="this.email">
        </mat-form-field>

        <br>

        <mat-form-field><!--Input for Phone Number-->
          <mat-label>Phone</mat-label>
          <input matInput type="tel" [maxLength]="10" [(ngModel)]="this.phone">
        </mat-form-field>

      </div>
      <div style="float:right">

        <mat-form-field><!--Input for Date-->
          <input matInput [ngxMatDatetimePicker]="updateEndDatePicker" placeholder="Date" [(ngModel)]="this.date">
          <mat-datepicker-toggle matSuffix [for]="$any(updateEndDatePicker)"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #updateEndDatePicker [showSeconds]="false" [enableMeridian]="true"><!--[color]="color" -->
          </ngx-mat-datetime-picker>
        </mat-form-field>

        <br>

        <mat-form-field>
          <mat-label>Length (min)</mat-label>
          <input matInput type="number" [(ngModel)]="this.length">
        </mat-form-field>

        <br>

        <mat-form-field><!--Input for Description-->
          <mat-label>Description</mat-label>
          <input matInput [(ngModel)]="this.description">
        </mat-form-field>

        <br>

            <mat-form-field appearance="fill">
              <mat-label>Stylist</mat-label>
              <input type = "text" matInput [formControl] = "stylistIDControl" [matAutocomplete]="auto"> 
              <mat-autocomplete #auto = "matAutocomplete" [displayWith]="stylistDropdownDisplay"> <!--no idea why you don't need argument; angular is weird-->
                <!-- onSelectionChange function receives the stylist selected and sets necessary form fields -->
                <mat-option *ngFor = "let stylist of filteredStylists | async" [value] = "stylist" (onSelectionChange) = "setStylistIdFromDropdown(stylist)">
                  {{stylist.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          
    </div>
    <!--Buttons to submit or cancel appointment-->
    <button *ngIf="addingAppointment" mat-flat-button color="primary" style = "margin: 1%" type="submit" (click)="addAppointment()">Submit</button>
    <button *ngIf="updatingAppointment" mat-flat-button color="primary" style = "margin: 1%" type="submit" (click)="updateAppointment()">Submit</button>
    <button mat-flat-button style = "margin: 1%" (click)="closeDialog()">Cancel</button>
  </div>

</ng-template>