.format-container
{
    margin-left: 9%;
    margin-right: 9%;
    margin-bottom: 2%;
}

.row 
{
    margin-top: 2%
}

.cal-events
{
    display: none !important; //will override all previous styling rules for cal-events
}

.schedule-card
{
    margin-left:100px; 
    margin-top:20px; 
    background-color: rgb(18,24,48)
}