.page-div 
{
    width:100%; 
    text-align: center;
    align-items: center;
}

.newsletter-div 
{
     margin:10%; 
     display:flex; 
     min-height: 200px;
     padding-left: 5%;
     padding-right: 5%;
     align-self:center;
}

.left-newsletter-div 
{
    flex: 4; 
    background-color: #ebebeba9; 
    min-height: 200px;
}

.right-newsletter-div 
{
    flex: 4; 
    background-color: #9e9e9e91; 
    min-height: 200px;
}

.newsletter-text 
{
    margin-top:15%; 
    font-weight: 500; 
    font-size: 2.1vw;
}

.title
{   
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2.15%;
    text-align: left;
    font-family:'Edwardian Script ITC';
    color: rgb(176,151,35);
    background-color: rgb(18,24,48);
}

