.headerTop 
{
    background-color: rgb(18,24,48);
    padding-top: 3.75%;
    padding-bottom: 1%;
    padding-left: 1.5%;

    text-align: left;
    color: white;
    vertical-align: bottom;
    font-family:Roboto, "Helvetica Neue", sans-serif;
    font-size: large;
}

h1 
{
    font-size: 5.0vw;
    font-family:'Edwardian Script ITC';
    color: rgb(176,151,35);
}

.navB 
{
    justify-content: space-between;
}

span 
{
    padding-right: 1rem;
    content: "\21B5";
}

.menu-spacer {
    flex: 1 1 auto;
}